:root {
  --gap: 6px;
}

.slidContainer {
  display: flex;  
  align-items: stretch;  
  width: 100%;  
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: calc(var(--gap) * 3);
  padding-right: calc(var(--gap) * 3);
  padding-bottom: calc(var(--gap) * 3);
  margin-top: 0;
  margin-left: calc(var(--gap) * -4);
  margin-right: calc(var(--gap) * -4);
  -webkit-scroll-snap-destination: 0% 0%;  
  -webkit-overflow-scrolling: touch; /* important for iOS */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory; /* Chrome Canary */
  scroll-snap-type: mandatory; /* Firefox */
  -ms-scroll-snap-type: mandatory; /* IE/Edge */
  -webkit-scroll-snap-type: mandatory; /* Safari */
  scroll-behavior: smooth;
}

.slidContainer > * {
  flex-shrink: 0;
  display: inline-block !important;
  padding-right: var(--gap) !important;
  padding-left: var(--gap) !important;
  -webkit-scroll-snap-coordinate: 0% 0%;
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.slidContainer > *:first-child {
  padding-left: calc(var(--gap) * 4) !important;
}

.slidContainer > *:last-child {
  padding-right: calc(var(--gap) * 4) !important;
}

.arrows {
  position: absolute !important;
  display: block !important;
  transform: translateY(-50%) !important;
  z-index: 1 !important;
  transition: all 0.2s ease-in-out;
}

.arrows button {
  display: inline-block !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 1 !important;
  position: relative !important;
  touch-action: manipulation !important;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px !important;
  border-radius: 50% !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: transparent !important;
  background: rgb(255, 255, 255) !important;
  outline: none;
  width: 32px;
  height: 32px;
}

.arrows {
  top: calc(50% - (var(--gap) * 2));
}

.arrows.left {
  left: calc(var(--gap) * 2);
  opacity: 0;
  visibility: hidden;
}

.arrows.right {
  right: calc(var(--gap) * 2);
}